Label {
    margin:10
}
@keyframes pulse {
    0% { transform: scale(1, 1);}
	50% { transform: scale(1.15, 1.15);}
	100% { transform: scale(1, 1);}
}
.pulse {
    background-color: #10B671;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.btnRecord {
    height: 80;
    width: 80;
    font-size: 30;
    text-align: center;
    color: #fff;
    border-radius: 40;
    text-align: center;
    vertical-align: bottom;
}

.btn {
    border-radius: 5;
    font-size: 20;
    color: #FFF;
    height: 40;
    margin: 2;
}

.gray {
    background-color: #CCC;
}

.btnTimer {
    border-radius: 5;
    font-size: 20;
    color: #FFF;
    height: 50;
    margin: 2;
}

.timer {
    font-weight: bold;
    font-size: 34;
    color: #1598F6;
}