.studentCard {
    margin: 5;
    color: #FFF;
    vertical-align:top;
}
.innerCard {
    background-color: #A409FE;
    border-width: 1;
    border-radius: 5;
    border-color: #A409FE;
}
.btnPlay {
    height: 80;
    width: 80;
    font-size: 30;
    text-align: center;
    color: #fff;
    border-radius: 40;
    text-align: center;
    vertical-align: bottom;
}
.orange {
    background-color: #F2B208;
}
@keyframes pulse {
    0% { transform: scale(1, 1);}
	50% { transform: scale(1.15, 1.15);}
	100% { transform: scale(1, 1);}
}
.green {
    background-color: #10B671;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.btn {
    border-radius: 5;
    font-size: 20;
    color: #FFF;
    height: 40;
    margin: 2;
}
.btnPlay {
    height: 60;
    width: 60;
    font-size: 20;
    text-align: center;
    color: #fff;
    background-color: #10B671;
    border-radius: 30;
    text-align: center;
    vertical-align: bottom;
    margin: 10;
}
.btnStop {
    height: 60;
    width: 60;
    font-size: 20;
    text-align: center;
    color: #fff;
    background-color: #F13030;
    border-radius: 30;
    text-align: center;
    vertical-align: bottom;
    margin: 10;
}
.action-btn{
    background-color: #A409FE;
}