<ActionBar title="My Students' Practices">
   <ActionItem (tap)="goHome()" ios.position="right">
        <Button [text]="'fa-home' | fonticon" class="fa btn"></Button>
    </ActionItem>
</ActionBar>

<ScrollView>
  
  <ListView
    [items]="archivedstudentpractices$ | async" class="list">
    <ng-template let-item="item">  
        <StackLayout orientation="horizontal" class="line-item">
          <GridLayout columns="1*,1*,1*,1*" rows="*">
            <Label col="0" class="line-item-text" [text]='item.Name'></Label>
            <Label col="1" class="line-item-text" [text]='item.Date | date:"mediumDate"'></Label>
            <Label col="2" [text]="' '+item.PracticeLength+' minutes'"></Label>
            <Label col="3" textWrap="true" [text]='item.Comment'></Label>
          </GridLayout>
        </StackLayout>    
    </ng-template>
  </ListView>
 
</ScrollView>